@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: oklch(54.6% 0.245 262.881);
  --color-secondary: oklch(68.5% 0.169 237.323);
  --color-ok: oklch(62.7% 0.194 149.214);
  --color-danger: oklch(57.7% 0.245 27.325);
  --color-warning: oklch(82.8% 0.189 84.429);

  --font-heading: Montserrat, sans-serif;
  --font-body: Inter, sans-serif;
}